s_visual_kinematics @ git+https://github.com/PCrnjak/s_visual_kinematics.git@main#egg=s_visual_kinematics
ansitable==0.9.10
colored==1.4.4
contourpy==1.2.0
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
fonttools==4.49.0
importlib-metadata==7.0.1
kiwisolver==1.4.5
matplotlib==3.8.3
numpy==1.23.4
oclock==1.4.0
packaging==23.2
pgraph-python==0.6.2
pillow==10.2.0
progress==1.6
pyparsing==3.1.1
pyserial==3.5
python-dateutil==2.8.2
roboticstoolbox-python==1.0.3
rtb-data==1.0.1
scipy==1.11.4
six==1.16.0
spatialgeometry==1.0.3
spatialmath-python==1.0.5
swift-sim==1.0.1
websockets==12.0
zipp==3.17.0
